.text-display-container {
    width: 100%;
    margin: 20px auto;
  }
  
  .text-display {
    min-height: 50px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    white-space: pre-wrap;
    background: radial-gradient(circle, #721a0438, #feb47b); 
    color: #333;
    border: 2px solid #444;
    border-radius: 10px;
    outline: none;
    user-select: text;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .text-display:hover {
    background-color: #e0e0e0;
    border-color: #bbb;
  }
  
  .text-display::placeholder {
    color: #aaa;
    font-style: italic;
  }
  